@page "{sessionId:int}"
@model GymTracker.Pages.SessionDetailModel
@{
    ViewData["Title"] = "SessionDetail";
}

@if (Model.Message != null)
{ 
    <div class="alert alert-info">@Model.Message</div>
}


<h2>Session: @Model.Session.Name</h2>
<p>Date: @Model.Session.Date</p>


<table class="table">
    <tr>
        <th>Exercise Id</th>
        <th>Name</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Session Id</th>
    </tr>
    @foreach (var exercise in Model.Exercises)
    {
        <tr>
            <td>@exercise.ExerciseId</td>
            <td>@exercise.ExerciseName</td>
            <td>@exercise.Sets</td>
            <td>@exercise.Reps</td>
            <td>@exercise.Weight kg</td>
            <td>@exercise.SessionId</td>
        </tr>
    }
</table>

<a asp-page="./SessionList" class="btn btn-primary">All Sessions</a>
